docs/package dmp/DMP-LPS-Code-Exemple_C#dotNET-v2.06.01/TLSiKitEditeur/Service References/GDPService/COCT_MT080000UV.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns="urn:hl7-org:v3" xmlns:ex="urn:hl7-org/v3-example" elementFormDefault="qualified" targetNamespace="urn:hl7-org:v3" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:include schemaLocation="../coreschemas/infrastructureRoot.xsd" />
  <xs:include schemaLocation="COCT_MT150000UV02.xsd" />
  <xs:include schemaLocation="COCT_MT070000UV01.xsd" />
  <xs:include schemaLocation="COCT_MT430000UV.xsd" />
  <xs:include schemaLocation="COCT_MT250000UV03.xsd" />
  <xs:include schemaLocation="COCT_MT050000UV01.xsd" />
  <xs:include schemaLocation="COCT_MT090000UV01.xsd" />
  <xs:include schemaLocation="COCT_MT530000UV.xsd" />
  <xs:include schemaLocation="COCT_MT210000UV02.xsd" />
  <xs:include schemaLocation="COCT_MT590000UV.xsd" />
  <xs:include schemaLocation="COCT_MT090100UV01.xsd" />
  <xs:include schemaLocation="COCT_MT090300UV01.xsd" />
  <xs:annotation>
    <xs:documentation>Generated using schema builder version 3.2.5. Stylesheets:

StaticMifToXsd.xsl version 2.0</xs:documentation>
  </xs:annotation>
  <xs:complexType name="COCT_MT080000UV.ActDefinition">
    <xs:sequence>
      <xs:group ref="InfrastructureRootElements" />
      <xs:element minOccurs="1" maxOccurs="1" name="id" type="II" />
      <xs:element minOccurs="0" maxOccurs="1" name="text" type="ED" />
    </xs:sequence>
    <xs:attributeGroup ref="InfrastructureRootAttributes" />
    <xs:attribute name="nullFlavor" type="NullFlavor" use="optional" />
    <xs:attribute name="classCode" type="ActClassRoot" use="required" />
    <xs:attribute fixed="DEF" name="moodCode" type="ActMood" use="optional" />
  </xs:complexType>
  <xs:complexType name="COCT_MT080000UV.ActReference">
    <xs:sequence>
      <xs:group ref="InfrastructureRootElements" />
      <xs:element minOccurs="1" maxOccurs="1" name="id" type="II" />
    </xs:sequence>
    <xs:attributeGroup ref="InfrastructureRootAttributes" />
    <xs:attribute name="nullFlavor" type="NullFlavor" use="optional" />
    <xs:attribute name="classCode" type="ActClassRoot" use="required" />
    <xs:attribute name="moodCode" type="ActMoodEventOccurrence" use="required" />
  </xs:complexType>
  <xs:complexType name="COCT_MT080000UV.Additive">
    <xs:sequence>
      <xs:group ref="InfrastructureRootElements" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="id" type="II" />
      <xs:element minOccurs="0" maxOccurs="1" name="quantity" type="RTO_QTY_QTY" />
      <xs:choice>
        <xs:element minOccurs="0" maxOccurs="1" name="additive1" nillable="true" type="COCT_MT080000UV.Holder" />
        <xs:element minOccurs="0" maxOccurs="1" name="additive2" nillable="true" type="COCT_MT080000UV.Container" />
        <xs:element minOccurs="0" maxOccurs="1" name="additive3" nillable="true" type="COCT_MT080000UV.AdditiveMaterial" />
      </xs:choice>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="related" nillable="true" type="COCT_MT080000UV.SourceOf" />
    </xs:sequence>
    <xs:attributeGroup ref="InfrastructureRootAttributes" />
    <xs:attribute name="nullFlavor" type="NullFlavor" use="optional" />
    <xs:attribute name="classCode" type="RoleClassAdditive" use="required" />
  </xs:complexType>
  <xs:complexType name="COCT_MT080000UV.AdditiveMaterial">
    <xs:sequence>
      <xs:group ref="InfrastructureRootElements" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="id" type="II" />
      <xs:element minOccurs="0" maxOccurs="1" name="code" type="CE" />
      <xs:element minOccurs="0" maxOccurs="1" name="desc" type="ED" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="riskCode" type="CE" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="handlingCode" type="CE" />
      <xs:element minOccurs="0" maxOccurs="1" name="asEntityInEntity" nillable="true" type="COCT_MT080000UV.EntityInEntity" />
      <xs:element minOccurs="0" maxOccurs="1" name="asLocatedEntity" nillable="true" type="COCT_MT070000UV01.LocatedEntity" />
    </xs:sequence>
    <xs:attributeGroup ref="InfrastructureRootAttributes" />
    <xs:attribute name="nullFlavor" type="NullFlavor" use="optional" />
    <xs:attribute name="classCode" type="EntityClassMaterial" use="required" />
    <xs:attribute name="determinerCode" type="EntityDeterminer" use="required" />
  </xs:complexType>
  <xs:complexType name="COCT_MT080000UV.Author">
    <xs:sequence>
      <xs:group ref="InfrastructureRootElements" />
      <xs:element minOccurs="0" maxOccurs="1" name="sequenceNumber" type="INT" />
      <xs:element minOccurs="0" maxOccurs="1" name="noteText" type="ST" />
      <xs:element minOccurs="0" maxOccurs="1" name="time" type="TS" />
      <xs:element minOccurs="0" maxOccurs="1" name="modeCode" type="CE" />
      <xs:element minOccurs="0" maxOccurs="1" name="signatureCode" type="CE" />
      <xs:element minOccurs="0" maxOccurs="1" name="signatureText" type="ED" />
      <xs:element minOccurs="1" maxOccurs="1" name="assignedEntity" nillable="true" type="COCT_MT090000UV01.AssignedEntity" />
    </xs:sequence>
    <xs:attributeGroup ref="InfrastructureRootAttributes" />
    <xs:attribute name="nullFlavor" type="NullFlavor" use="optional" />
    <xs:attribute name="typeCode" type="ParticipationAuthorOriginator" use="required" />
    <xs:attribute default="OP" name="contextControlCode" type="ContextControl" use="optional" />
  </xs:complexType>
  <xs:complexType name="COCT_MT080000UV.AuthorOrPerformer">
    <xs:sequence>
      <xs:group ref="InfrastructureRootElements" />
      <xs:element minOccurs="0" maxOccurs="1" name="noteText" type="ED" />
      <xs:element minOccurs="0" maxOccurs="1" name="time" type="IVL_TS" />
      <xs:element minOccurs="0" maxOccurs="1" name="modeCode" type="CE" />
      <xs:element minOccurs="0" maxOccurs="1" name="signatureCode" type="CE" />
      <xs:element minOccurs="0" maxOccurs="1" name="signatureText" type="ED" />
      <xs:choice>
        <xs:element minOccurs="1" maxOccurs="1" name="assignedPerson" nillable="true" type="COCT_MT090100UV01.AssignedPerson" />
        <xs:element minOccurs="1" maxOccurs="1" name="assignedDevice" nillable="true" type="COCT_MT090300UV01.AssignedDevice" />
      </xs:choice>
    </xs:sequence>
    <xs:attributeGroup ref="InfrastructureRootAttributes" />
    <xs:attribute name="nullFlavor" type="NullFlavor" use="optional" />
    <xs:attribute name="typeCode" type="x_ParticipationAuthorPerformer" use="required" />
    <xs:attribute default="AN" name="contextControlCode" type="ContextControl" use="optional" />
  </xs:complexType>
  <xs:complexType name="COCT_MT080000UV.Consumable">
    <xs:sequence>
      <xs:group ref="InfrastructureRootElements" />
      <xs:element minOccurs="0" maxOccurs="1" name="sequenceNumber" type="INT" />
      <xs:choice>
        <xs:element minOccurs="1" maxOccurs="1" name="labTestKit" nillable="true" type="COCT_MT430000UV.LabTestKit" />
        <xs:element minOccurs="1" maxOccurs="1" name="reagent" nillable="true" type="COCT_MT250000UV03.Reagent" />
      </xs:choice>
    </xs:sequence>
    <xs:attributeGroup ref="InfrastructureRootAttributes" />
    <xs:attribute name="nullFlavor" type="NullFlavor" use="optional" />
    <xs:attribute name="typeCode" type="ParticipationConsumable" use="required" />
    <xs:attribute default="ON" name="contextControlCode" type="ContextControl" use="optional" />
  </xs:complexType>
  <xs:complexType name="COCT_MT080000UV.Container">
    <xs:sequence>
      <xs:group ref="InfrastructureRootElements" />
      <xs:element minOccurs="0" maxOccurs="1" name="id" type="II" />
      <xs:element minOccurs="0" maxOccurs="1" name="code" type="CE" />
      <xs:element minOccurs="0" maxOccurs="1" name="desc" type="ED" />
      <xs:element minOccurs="0" maxOccurs="1" name="riskCode" type="CE" />
      <xs:element minOccurs="0" maxOccurs="1" name="handlingCode" type="CE" />
      <xs:element minOccurs="0" maxOccurs="1" name="capacityQuantity" type="PQ" />
      <xs:element minOccurs="0" maxOccurs="1" name="heightQuantity" type="PQ" />
      <xs:element minOccurs="0" maxOccurs="1" name="diameterQuantity" type="PQ" />
      <xs:element minOccurs="0" maxOccurs="1" name="capTypeCode" type="CE" />
      <xs:element minOccurs="0" maxOccurs="1" name="separatorTypeCode" type="CE" />
      <xs:element minOccurs="0" maxOccurs="1" name="barrierDeltaQuantity" type="PQ" />
      <xs:element minOccurs="0" maxOccurs="1" name="bottomDeltaQuantity" type="PQ" />
      <xs:element minOccurs="0" maxOccurs="1" name="asEntityInEntity" nillable="true" type="COCT_MT080000UV.EntityInEntity" />
      <xs:element minOccurs="0" maxOccurs="1" name="asLocatedEntity" nillable="true" type="COCT_MT070000UV01.LocatedEntity" />
    </xs:sequence>
    <xs:attributeGroup ref="InfrastructureRootAttributes" />
    <xs:attribute name="nullFlavor" type="NullFlavor" use="optional" />
    <xs:attribute name="classCode" type="EntityClassContainer" use="required" />
    <xs:attribute name="determinerCode" type="EntityDeterminer" use="required" />
  </xs:complexType>
  <xs:complexType name="COCT_MT080000UV.ControlActEvent">
    <xs:sequence>
      <xs:group ref="InfrastructureRootElements" />
      <xs:element minOccurs="0" maxOccurs="1" name="id" type="II" />
      <xs:element minOccurs="1" maxOccurs="1" name="code" type="CV" />
      <xs:element minOccurs="0" maxOccurs="1" name="text" type="ED" />
      <xs:element minOccurs="1" maxOccurs="1" name="effectiveTime" type="TS" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="priorityCode" type="CE" />
      <xs:element minOccurs="0" maxOccurs="1" name="reasonCode" type="CV" />
      <xs:element minOccurs="0" maxOccurs="1" name="languageCode" type="CE" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="overseer" nillable="true" type="COCT_MT080000UV.Overseer" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="authorOrPerformer" nillable="true" type="COCT_MT080000UV.AuthorOrPerformer" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="dataEnterer" nillable="true" type="COCT_MT080000UV.DataEnterer" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="informationRecipient" nillable="true" type="COCT_MT080000UV.InformationRecipient" />
    </xs:sequence>
    <xs:attributeGroup ref="InfrastructureRootAttributes" />
    <xs:attribute name="nullFlavor" type="NullFlavor" use="optional" />
    <xs:attribute name="classCode" type="ActClassControlAct" use="required" />
    <xs:attribute fixed="EVN" name="moodCode" type="ActMood" use="optional" />
  </xs:complexType>
  <xs:complexType name="COCT_MT080000UV.ControlVariable">
    <xs:sequence>
      <xs:group ref="InfrastructureRootElements" />
      <xs:element minOccurs="0" maxOccurs="1" name="sequenceNumber" type="INT" />
      <xs:choice>
        <xs:element minOccurs="1" maxOccurs="1" name="dillution" nillable="true" type="COCT_MT210000UV02.Dillution" />
        <xs:element minOccurs="1" maxOccurs="1" name="endogenousContent" nillable="true" type="COCT_MT210000UV02.EndogenousContent" />
        <xs:element minOccurs="1" maxOccurs="1" name="reflexPermission" nillable="true" type="COCT_MT210000UV02.ReflexPermission" />
        <xs:element minOccurs="1" maxOccurs="1" name="autoRepeatPermission" nillable="true" type="COCT_MT210000UV02.AutoRepeatPermission" />
      </xs:choice>
    </xs:sequence>
    <xs:attributeGroup ref="InfrastructureRootAttributes" />
    <xs:attribute name="nullFlavor" type="NullFlavor" use="optional" />
    <xs:attribute name="typeCode" type="ActRelationshipHasControlVariable" use="required" />
    <xs:attribute default="AN" name="contextControlCode" type="ContextControl" use="optional" />
    <xs:attribute name="contextConductionInd" type="bl" use="required" />
  </xs:complexType>
  <xs:complexType name="COCT_MT080000UV.Criterion">
    <xs:sequence>
      <xs:group ref="InfrastructureRootElements" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="id" type="II" />
      <xs:element minOccurs="0" maxOccurs="1" name="code" type="CD" />
      <xs:element minOccurs="0" maxOccurs="1" name="text" type="ED" />
      <xs:element minOccurs="0" maxOccurs="1" name="value" type="ANY" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="interpretationCode" type="CE" />
    </xs:sequence>
    <xs:attributeGroup ref="InfrastructureRootAttributes" />
    <xs:attribute name="nullFlavor" type="NullFlavor" use="optional" />
    <xs:attribute name="classCode" type="ActClassObservation" use="required" />
    <xs:attribute name="moodCode" type="ActMoodEventCriterion" use="required" />
  </xs:complexType>
  <xs:complexType name="COCT_MT080000UV.DataEnterer">
    <xs:sequence>
      <xs:group ref="InfrastructureRootElements" />
      <xs:element minOccurs="0" maxOccurs="1" name="time" type="IVL_TS" />
      <xs:element minOccurs="1" maxOccurs="1" name="assignedPerson" nillable="true" type="COCT_MT090100UV01.AssignedPerson" />
    </xs:sequence>
    <xs:attributeGroup ref="InfrastructureRootAttributes" />
    <xs:attribute name="nullFlavor" type="NullFlavor" use="optional" />
    <xs:attribute name="typeCode" type="ParticipationDataEntryPerson" use="required" />
    <xs:attribute default="AN" name="contextControlCode" type="ContextControl" use="optional" />
  </xs:complexType>
  <xs:complexType name="COCT_MT080000UV.Definition">
    <xs:sequence>
      <xs:group ref="InfrastructureRootElements" />
      <xs:element minOccurs="1" maxOccurs="1" name="actDefinition" nillable="true" type="COCT_MT080000UV.ActDefinition" />
    </xs:sequence>
    <xs:attributeGroup ref="InfrastructureRootAttributes" />
    <xs:attribute name="nullFlavor" type="NullFlavor" use="optional" />
    <xs:attribute name="typeCode" type="ActRelationshipInstantiatesMaster" use="required" />
    <xs:attribute default="AN" name="contextControlCode" type="ContextControl" use="optional" />
    <xs:attribute name="contextConductionInd" type="bl" use="required" />
  </xs:complexType>
  <xs:complexType name="COCT_MT080000UV.DerivedSpecimen">
    <xs:sequence>
      <xs:group ref="InfrastructureRootElements" />
      <xs:element minOccurs="1" maxOccurs="1" name="id" type="II" />
      <xs:element minOccurs="0" maxOccurs="1" name="code" type="CE" />
      <xs:choice>
        <xs:element minOccurs="0" maxOccurs="1" name="specimenNatural" nillable="true" type="COCT_MT080000UV.Natural" />
        <xs:element minOccurs="0" maxOccurs="1" name="specimenManufacturedMaterial" nillable="true" type="COCT_MT080000UV.ManufacturedMaterial" />
      </xs:choice>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="subjectOf1" nillable="true" type="COCT_MT080000UV.Subject2" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="subjectOf2" nillable="true" type="COCT_MT080000UV.Subject3" />
      <xs:element minOccurs="0" maxOccurs="1" name="productOf" nillable="true" type="COCT_MT080000UV.Product" />
      <xs:element minOccurs="0" maxOccurs="1" name="related" nillable="true" type="COCT_MT080000UV.SourceOf" />
    </xs:sequence>
    <xs:attributeGroup ref="InfrastructureRootAttributes" />
    <xs:attribute name="nullFlavor" type="NullFlavor" use="optional" />
    <xs:attribute name="classCode" type="RoleClassSpecimen" use="required" />
  </xs:complexType>
  <xs:complexType name="COCT_MT080000UV.Device">
    <xs:sequence>
      <xs:group ref="InfrastructureRootElements" />
      <xs:element minOccurs="0" maxOccurs="1" name="sequenceNumber" type="INT" />
      <xs:element minOccurs="0" maxOccurs="1" name="time" type="IVL_TS" />
      <xs:element minOccurs="1" maxOccurs="1" name="labTestKit" nillable="true" type="COCT_MT430000UV.LabTestKit" />
    </xs:sequence>
    <xs:attributeGroup ref="InfrastructureRootAttributes" />
    <xs:attribute name="nullFlavor" type="NullFlavor" use="optional" />
    <xs:attribute name="typeCode" type="ParticipationTargetDevice" use="required" />
    <xs:attribute default="ON" name="contextControlCode" type="ContextControl" use="optional" />
  </xs:complexType>
  <xs:complexType name="COCT_MT080000UV.EntityInEntity">
    <xs:sequence>
      <xs:group ref="InfrastructureRootElements" />
      <xs:element minOccurs="0" maxOccurs="1" name="effectiveTime" type="IVL_TS" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="positionNumber" type="INT" />
      <xs:choice>
        <xs:element minOccurs="0" maxOccurs="1" name="containerHolder" nillable="true" type="COCT_MT080000UV.Holder" />
        <xs:element minOccurs="0" maxOccurs="1" name="container" nillable="true" type="COCT_MT080000UV.Container" />
        <xs:element minOccurs="0" maxOccurs="1" name="containerAdditiveMaterial" nillable="true" type="COCT_MT080000UV.AdditiveMaterial" />
      </xs:choice>
    </xs:sequence>
    <xs:attributeGroup ref="InfrastructureRootAttributes" />
    <xs:attribute name="nullFlavor" type="NullFlavor" use="optional" />
    <xs:attribute name="classCode" type="RoleClassContent" use="required" />
  </xs:complexType>
  <xs:complexType name="COCT_MT080000UV.Holder">
    <xs:sequence>
      <xs:group ref="InfrastructureRootElements" />
      <xs:element minOccurs="0" maxOccurs="1" name="code" type="CE" />
      <xs:element minOccurs="0" maxOccurs="1" name="desc" type="ED" />
      <xs:element minOccurs="0" maxOccurs="1" name="asEntityInEntity" nillable="true" type="COCT_MT080000UV.EntityInEntity" />
      <xs:element minOccurs="0" maxOccurs="1" name="asLocatedEntity" nillable="true" type="COCT_MT070000UV01.LocatedEntity" />
    </xs:sequence>
    <xs:attributeGroup ref="InfrastructureRootAttributes" />
    <xs:attribute name="nullFlavor" type="NullFlavor" use="optional" />
    <xs:attribute name="classCode" type="EntityClassHolder" use="required" />
    <xs:attribute name="determinerCode" type="EntityDeterminer" use="required" />
  </xs:complexType>
  <xs:complexType name="COCT_MT080000UV.IdentifiedEntity">
    <xs:sequence>
      <xs:group ref="InfrastructureRootElements" />
      <xs:element minOccurs="1" maxOccurs="1" name="id" type="II" />
      <xs:element minOccurs="0" maxOccurs="1" name="code" type="CE" />
      <xs:element minOccurs="1" maxOccurs="1" name="assigningOrganization" type="COCT_MT150000UV02.Organization" />
    </xs:sequence>
    <xs:attributeGroup ref="InfrastructureRootAttributes" />
    <xs:attribute name="nullFlavor" type="NullFlavor" use="optional" />
    <xs:attribute name="classCode" type="RoleClassIdentifiedEntity" use="required" />
  </xs:complexType>
  <xs:complexType name="COCT_MT080000UV.InformationRecipient">
    <xs:sequence>
      <xs:group ref="InfrastructureRootElements" />
      <xs:element minOccurs="0" maxOccurs="1" name="time" type="IVL_TS" />
      <xs:element minOccurs="1" maxOccurs="1" name="assignedPerson" nillable="true" type="COCT_MT090100UV01.AssignedPerson" />
    </xs:sequence>
    <xs:attributeGroup ref="InfrastructureRootAttributes" />
    <xs:attribute name="nullFlavor" type="NullFlavor" use="optional" />
    <xs:attribute name="typeCode" type="ParticipationInformationRecipient" use="required" />
    <xs:attribute default="AN" name="contextControlCode" type="ContextControl" use="optional" />
  </xs:complexType>
  <xs:complexType name="COCT_MT080000UV.ManufacturedMaterial">
    <xs:sequence>
      <xs:group ref="InfrastructureRootElements" />
      <xs:element minOccurs="1" maxOccurs="1" name="code" type="CE" />
      <xs:element minOccurs="0" maxOccurs="1" name="quantity" type="PQ" />
      <xs:element minOccurs="0" maxOccurs="1" name="desc" type="ED" />
      <xs:element minOccurs="0" maxOccurs="1" name="riskCode" type="CE" />
      <xs:element minOccurs="0" maxOccurs="1" name="handlingCode" type="CE" />
      <xs:element minOccurs="0" maxOccurs="1" name="lotNumberText" type="ST" />
      <xs:element minOccurs="0" maxOccurs="1" name="expirationTime" type="IVL_TS" />
      <xs:element minOccurs="1" maxOccurs="1" name="asManufacturedProduct" nillable="true" type="COCT_MT080000UV.ManufacturedProduct" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="asSpecimenStub" nillable="true" type="COCT_MT080000UV.SpecimenStub" />
      <xs:element minOccurs="0" maxOccurs="1" name="asSpecimenInContainer" nillable="true" type="COCT_MT080000UV.SpecimenInContainer" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="asOtherIDs" nillable="true" type="COCT_MT080000UV.OtherIDs" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="derivedSpecimen" nillable="true" type="COCT_MT080000UV.DerivedSpecimen" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="additive" nillable="true" type="COCT_MT080000UV.Additive" />
    </xs:sequence>
    <xs:attributeGroup ref="InfrastructureRootAttributes" />
    <xs:attribute name="nullFlavor" type="NullFlavor" use="optional" />
    <xs:attribute name="classCode" type="EntityClassManufacturedMaterial" use="required" />
    <xs:attribute name="determinerCode" type="EntityDeterminer" use="required" />
  </xs:complexType>
  <xs:complexType name="COCT_MT080000UV.ManufacturedProduct">
    <xs:sequence>
      <xs:group ref="InfrastructureRootElements" />
      <xs:element minOccurs="1" maxOccurs="1" name="manufacturerOrganization" type="COCT_MT150000UV02.Organization" />
    </xs:sequence>
    <xs:attributeGroup ref="InfrastructureRootAttributes" />
    <xs:attribute name="nullFlavor" type="NullFlavor" use="optional" />
    <xs:attribute name="classCode" type="RoleClassManufacturedProduct" use="required" />
  </xs:complexType>
  <xs:complexType name="COCT_MT080000UV.Natural">
    <xs:sequence>
      <xs:group ref="InfrastructureRootElements" />
      <xs:element minOccurs="1" maxOccurs="1" name="code" type="CD" />
      <xs:element minOccurs="0" maxOccurs="1" name="quantity" type="PQ" />
      <xs:element minOccurs="0" maxOccurs="1" name="desc" type="ED" />
      <xs:element minOccurs="0" maxOccurs="1" name="riskCode" type="CE" />
      <xs:element minOccurs="0" maxOccurs="1" name="handlingCode" type="CE" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="asSpecimenStub" nillable="true" type="COCT_MT080000UV.SpecimenStub" />
      <xs:element minOccurs="0" maxOccurs="1" name="asSpecimenInContainer" nillable="true" type="COCT_MT080000UV.SpecimenInContainer" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="asOtherIDs" nillable="true" type="COCT_MT080000UV.OtherIDs" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="derivedSpecimen" nillable="true" type="COCT_MT080000UV.DerivedSpecimen" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="additive" nillable="true" type="COCT_MT080000UV.Additive" />
    </xs:sequence>
    <xs:attributeGroup ref="InfrastructureRootAttributes" />
    <xs:attribute name="nullFlavor" type="NullFlavor" use="optional" />
    <xs:attribute name="classCode" type="EntityClassRoot" use="required" />
    <xs:attribute name="determinerCode" type="EntityDeterminer" use="required" />
  </xs:complexType>
  <xs:complexType name="COCT_MT080000UV.ObservationEvent">
    <xs:sequence>
      <xs:group ref="InfrastructureRootElements" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="id" type="II" />
      <xs:element minOccurs="1" maxOccurs="1" name="code" type="CD" />
      <xs:element minOccurs="0" maxOccurs="1" name="text" type="ED" />
      <xs:element minOccurs="0" maxOccurs="1" name="statusCode" type="CS" />
      <xs:element minOccurs="0" maxOccurs="1" name="effectiveTime" type="TS" />
      <xs:element minOccurs="1" maxOccurs="1" name="value" type="ANY" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="subject" nillable="true" type="COCT_MT080000UV.Subject1" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="device" nillable="true" type="COCT_MT080000UV.Device" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="consumable" nillable="true" type="COCT_MT080000UV.Consumable" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="performer" nillable="true" type="COCT_MT080000UV.Performer" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="author" nillable="true" type="COCT_MT080000UV.Author" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="transcriber" nillable="true" type="COCT_MT080000UV.Transcriber" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="verifier" nillable="true" type="COCT_MT080000UV.Verifier" />
      <xs:element minOccurs="0" maxOccurs="1" name="definition" nillable="true" type="COCT_MT080000UV.Definition" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="precondition" nillable="true" type="COCT_MT080000UV.Precondition" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="pertinentInformation" nillable="true" type="COCT_MT080000UV.PertinentInformation" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="controlVariable" nillable="true" type="COCT_MT080000UV.ControlVariable" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="subjectOf1" nillable="true" type="COCT_MT080000UV.Subject4" />
      <xs:element minOccurs="0" maxOccurs="1" name="subjectOf2" nillable="true" type="COCT_MT080000UV.Subject5" />
    </xs:sequence>
    <xs:attributeGroup ref="InfrastructureRootAttributes" />
    <xs:attribute name="nullFlavor" type="NullFlavor" use="optional" />
    <xs:attribute name="classCode" type="ActClassObservation" use="required" />
    <xs:attribute name="moodCode" type="ActMoodEventOccurrence" use="required" />
  </xs:complexType>
  <xs:complexType name="COCT_MT080000UV.OtherIDs">
    <xs:sequence>
      <xs:group ref="InfrastructureRootElements" />
      <xs:element minOccurs="1" maxOccurs="unbounded" name="id" type="II" />
      <xs:element minOccurs="0" maxOccurs="1" name="code" type="CE" />
      <xs:element minOccurs="0" maxOccurs="1" name="scopingOrganization" nillable="true" type="COCT_MT150000UV02.Organization" />
    </xs:sequence>
    <xs:attributeGroup ref="InfrastructureRootAttributes" />
    <xs:attribute name="nullFlavor" type="NullFlavor" use="optional" />
    <xs:attribute name="classCode" type="RoleClassRoot" use="required" />
  </xs:complexType>
  <xs:complexType name="COCT_MT080000UV.Overseer">
    <xs:sequence>
      <xs:group ref="InfrastructureRootElements" />
      <xs:element minOccurs="0" maxOccurs="1" name="noteText" type="ED" />
      <xs:element minOccurs="0" maxOccurs="1" name="time" type="IVL_TS" />
      <xs:element minOccurs="0" maxOccurs="1" name="modeCode" type="CE" />
      <xs:element minOccurs="0" maxOccurs="1" name="signatureCode" type="CE" />
      <xs:element minOccurs="0" maxOccurs="1" name="signatureText" type="ED" />
      <xs:element minOccurs="1" maxOccurs="1" name="assignedPerson" nillable="true" type="COCT_MT090100UV01.AssignedPerson" />
    </xs:sequence>
    <xs:attributeGroup ref="InfrastructureRootAttributes" />
    <xs:attribute name="nullFlavor" type="NullFlavor" use="optional" />
    <xs:attribute name="typeCode" type="x_ParticipationVrfRespSprfWit" use="required" />
    <xs:attribute default="AN" name="contextControlCode" type="ContextControl" use="optional" />
  </xs:complexType>
  <xs:complexType name="COCT_MT080000UV.Performer">
    <xs:sequence>
      <xs:group ref="InfrastructureRootElements" />
      <xs:element minOccurs="0" maxOccurs="1" name="sequenceNumber" type="INT" />
      <xs:element minOccurs="0" maxOccurs="1" name="noteText" type="ST" />
      <xs:element minOccurs="0" maxOccurs="1" name="time" type="IVL_TS" />
      <xs:choice>
        <xs:element minOccurs="1" maxOccurs="1" name="patient" nillable="true" type="COCT_MT050000UV01.Patient" />
        <xs:element minOccurs="1" maxOccurs="1" name="assignedEntity" nillable="true" type="COCT_MT090000UV01.AssignedEntity" />
      </xs:choice>
    </xs:sequence>
    <xs:attributeGroup ref="InfrastructureRootAttributes" />
    <xs:attribute name="nullFlavor" type="NullFlavor" use="optional" />
    <xs:attribute name="typeCode" type="ParticipationPhysicalPerformer" use="required" />
    <xs:attribute default="OP" name="contextControlCode" type="ContextControl" use="optional" />
  </xs:complexType>
  <xs:complexType name="COCT_MT080000UV.PertinentInformation">
    <xs:sequence>
      <xs:group ref="InfrastructureRootElements" />
      <xs:element minOccurs="0" maxOccurs="1" name="sequenceNumber" type="INT" />
      <xs:choice>
        <xs:choice>
          <xs:element minOccurs="1" maxOccurs="1" name="observation" nillable="true" type="COCT_MT530000UV.Observation" />
          <xs:element minOccurs="1" maxOccurs="1" name="substanceAdministration" nillable="true" type="COCT_MT530000UV.SubstanceAdministration" />
          <xs:element minOccurs="1" maxOccurs="1" name="supply" nillable="true" type="COCT_MT530000UV.Supply" />
          <xs:element minOccurs="1" maxOccurs="1" name="procedure" nillable="true" type="COCT_MT530000UV.Procedure" />
          <xs:element minOccurs="1" maxOccurs="1" name="encounter" nillable="true" type="COCT_MT530000UV.Encounter" />
          <xs:element minOccurs="1" maxOccurs="1" name="act" nillable="true" type="COCT_MT530000UV.Act" />
          <xs:element minOccurs="1" maxOccurs="1" name="organizer" nillable="true" type="COCT_MT530000UV.Organizer" />
        </xs:choice>
        <xs:element minOccurs="1" maxOccurs="1" name="actReference" nillable="true" type="COCT_MT530000UV.ActReference" />
      </xs:choice>
    </xs:sequence>
    <xs:attributeGroup ref="InfrastructureRootAttributes" />
    <xs:attribute name="nullFlavor" type="NullFlavor" use="optional" />
    <xs:attribute name="typeCode" type="ActRelationshipPertains" use="required" />
    <xs:attribute default="AN" name="contextControlCode" type="ContextControl" use="optional" />
    <xs:attribute default="true" name="contextConductionInd" type="bl" use="optional" />
  </xs:complexType>
  <xs:complexType name="COCT_MT080000UV.Precondition">
    <xs:sequence>
      <xs:group ref="InfrastructureRootElements" />
      <xs:element minOccurs="0" maxOccurs="1" name="sequenceNumber" type="INT" />
      <xs:element minOccurs="0" maxOccurs="1" name="priorityNumber" type="INT" />
      <xs:element minOccurs="0" maxOccurs="1" name="conjunctionCode" type="CS" />
      <xs:element minOccurs="1" maxOccurs="1" name="criterion" nillable="true" type="COCT_MT080000UV.Criterion" />
    </xs:sequence>
    <xs:attributeGroup ref="InfrastructureRootAttributes" />
    <xs:attribute name="nullFlavor" type="NullFlavor" use="optional" />
    <xs:attribute name="typeCode" type="ActRelationshipHasPre-condition" use="required" />
    <xs:attribute default="AN" name="contextControlCode" type="ContextControl" use="optional" />
    <xs:attribute name="contextConductionInd" type="bl" use="required" />
  </xs:complexType>
  <xs:complexType name="COCT_MT080000UV.Product">
    <xs:sequence>
      <xs:group ref="InfrastructureRootElements" />
      <xs:element minOccurs="0" maxOccurs="1" name="time" type="IVL_TS" />
      <xs:choice>
        <xs:element minOccurs="1" maxOccurs="1" name="specimenProcessStep" nillable="true" type="COCT_MT080000UV.SpecimenProcessStep" />
        <xs:element minOccurs="1" maxOccurs="1" name="specimenCollectionProcess" nillable="true" type="COCT_MT080000UV.SpecimenCollectionProcess" />
      </xs:choice>
    </xs:sequence>
    <xs:attributeGroup ref="InfrastructureRootAttributes" />
    <xs:attribute name="nullFlavor" type="NullFlavor" use="optional" />
    <xs:attribute name="typeCode" type="ParticipationProduct" use="required" />
    <xs:attribute default="OP" name="contextControlCode" type="ContextControl" use="optional" />
  </xs:complexType>
  <xs:complexType name="COCT_MT080000UV.SourceOf">
    <xs:sequence>
      <xs:group ref="InfrastructureRootElements" />
      <xs:element minOccurs="1" maxOccurs="1" name="identifiedEntity" nillable="true" type="COCT_MT080000UV.IdentifiedEntity" />
    </xs:sequence>
    <xs:attributeGroup ref="InfrastructureRootAttributes" />
    <xs:attribute name="nullFlavor" type="NullFlavor" use="optional" />
    <xs:attribute name="typeCode" type="RoleLinkIdentification" use="required" />
  </xs:complexType>
  <xs:complexType name="COCT_MT080000UV.Specimen">
    <xs:sequence>
      <xs:group ref="InfrastructureRootElements" />
      <xs:element minOccurs="1" maxOccurs="1" name="id" type="II" />
      <xs:element minOccurs="1" maxOccurs="1" name="code" type="CE" />
      <xs:choice>
        <xs:element minOccurs="0" maxOccurs="1" name="specimenNatural" nillable="true" type="COCT_MT080000UV.Natural" />
        <xs:element minOccurs="0" maxOccurs="1" name="specimenManufacturedMaterial" nillable="true" type="COCT_MT080000UV.ManufacturedMaterial" />
      </xs:choice>
      <xs:choice>
        <xs:element minOccurs="0" maxOccurs="1" name="sourceNatural" nillable="true" type="COCT_MT080000UV.Natural" />
        <xs:element minOccurs="0" maxOccurs="1" name="sourceManufacturedMaterial" nillable="true" type="COCT_MT080000UV.ManufacturedMaterial" />
      </xs:choice>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="subjectOf1" nillable="true" type="COCT_MT080000UV.Subject2" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="subjectOf2" nillable="true" type="COCT_MT080000UV.Subject3" />
      <xs:element minOccurs="0" maxOccurs="1" name="productOf" nillable="true" type="COCT_MT080000UV.Product" />
      <xs:element minOccurs="0" maxOccurs="1" name="related" nillable="true" type="COCT_MT080000UV.SourceOf" />
    </xs:sequence>
    <xs:attributeGroup ref="InfrastructureRootAttributes" />
    <xs:attribute name="classCode" type="RoleClassSpecimen" use="required" />
  </xs:complexType>
  <xs:complexType name="COCT_MT080000UV.SpecimenCollectionProcess">
    <xs:sequence>
      <xs:group ref="InfrastructureRootElements" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="id" type="II" />
      <xs:element minOccurs="1" maxOccurs="1" name="code" type="CD" />
      <xs:element minOccurs="0" maxOccurs="1" name="text" type="ST" />
      <xs:element minOccurs="0" maxOccurs="1" name="statusCode" type="CS" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="effectiveTime" type="SXCM_TS" />
      <xs:element minOccurs="0" maxOccurs="1" name="approachSiteCode" type="CD" />
      <xs:element minOccurs="0" maxOccurs="1" name="targetSiteCode" type="CD" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="subject" nillable="true" type="COCT_MT080000UV.Subject1" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="device" nillable="true" type="COCT_MT080000UV.Device" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="consumable" nillable="true" type="COCT_MT080000UV.Consumable" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="performer" nillable="true" type="COCT_MT080000UV.Performer" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="author" nillable="true" type="COCT_MT080000UV.Author" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="transcriber" nillable="true" type="COCT_MT080000UV.Transcriber" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="verifier" nillable="true" type="COCT_MT080000UV.Verifier" />
      <xs:element minOccurs="0" maxOccurs="1" name="definition" nillable="true" type="COCT_MT080000UV.Definition" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="precondition" nillable="true" type="COCT_MT080000UV.Precondition" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="pertinentInformation" nillable="true" type="COCT_MT080000UV.PertinentInformation" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="controlVariable" nillable="true" type="COCT_MT080000UV.ControlVariable" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="subjectOf1" nillable="true" type="COCT_MT080000UV.Subject4" />
      <xs:element minOccurs="0" maxOccurs="1" name="subjectOf2" nillable="true" type="COCT_MT080000UV.Subject5" />
    </xs:sequence>
    <xs:attributeGroup ref="InfrastructureRootAttributes" />
    <xs:attribute name="nullFlavor" type="NullFlavor" use="optional" />
    <xs:attribute name="classCode" type="ActClassSpecimenCollection" use="required" />
    <xs:attribute name="moodCode" type="x_ActMoodIntentEvent" use="required" />
  </xs:complexType>
  <xs:complexType name="COCT_MT080000UV.SpecimenInContainer">
    <xs:sequence>
      <xs:group ref="InfrastructureRootElements" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="id" type="II" />
      <xs:choice>
        <xs:element minOccurs="0" maxOccurs="1" name="containerHolder" nillable="true" type="COCT_MT080000UV.Holder" />
        <xs:element minOccurs="0" maxOccurs="1" name="container" nillable="true" type="COCT_MT080000UV.Container" />
        <xs:element minOccurs="0" maxOccurs="1" name="containerAdditiveMaterial" nillable="true" type="COCT_MT080000UV.AdditiveMaterial" />
      </xs:choice>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="related" nillable="true" type="COCT_MT080000UV.SourceOf" />
    </xs:sequence>
    <xs:attributeGroup ref="InfrastructureRootAttributes" />
    <xs:attribute name="nullFlavor" type="NullFlavor" use="optional" />
    <xs:attribute name="classCode" type="RoleClassContent" use="required" />
  </xs:complexType>
  <xs:complexType name="COCT_MT080000UV.SpecimenProcessStep">
    <xs:sequence>
      <xs:group ref="InfrastructureRootElements" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="id" type="II" />
      <xs:element minOccurs="0" maxOccurs="1" name="code" type="CD" />
      <xs:element minOccurs="0" maxOccurs="1" name="text" type="ST" />
      <xs:element minOccurs="0" maxOccurs="1" name="statusCode" type="CS" />
      <xs:element minOccurs="0" maxOccurs="1" name="effectiveTime" type="IVL_TS" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="subject" nillable="true" type="COCT_MT080000UV.Subject1" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="device" nillable="true" type="COCT_MT080000UV.Device" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="consumable" nillable="true" type="COCT_MT080000UV.Consumable" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="performer" nillable="true" type="COCT_MT080000UV.Performer" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="author" nillable="true" type="COCT_MT080000UV.Author" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="transcriber" nillable="true" type="COCT_MT080000UV.Transcriber" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="verifier" nillable="true" type="COCT_MT080000UV.Verifier" />
      <xs:element minOccurs="0" maxOccurs="1" name="definition" nillable="true" type="COCT_MT080000UV.Definition" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="precondition" nillable="true" type="COCT_MT080000UV.Precondition" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="pertinentInformation" nillable="true" type="COCT_MT080000UV.PertinentInformation" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="controlVariable" nillable="true" type="COCT_MT080000UV.ControlVariable" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="subjectOf1" nillable="true" type="COCT_MT080000UV.Subject4" />
      <xs:element minOccurs="0" maxOccurs="1" name="subjectOf2" nillable="true" type="COCT_MT080000UV.Subject5" />
    </xs:sequence>
    <xs:attributeGroup ref="InfrastructureRootAttributes" />
    <xs:attribute name="nullFlavor" type="NullFlavor" use="optional" />
    <xs:attribute name="classCode" type="x_LabProcessClassCodes" use="required" />
    <xs:attribute name="moodCode" type="ActMoodEventOccurrence" use="required" />
  </xs:complexType>
  <xs:complexType name="COCT_MT080000UV.SpecimenStub">
    <xs:sequence>
      <xs:group ref="InfrastructureRootElements" />
      <xs:element minOccurs="1" maxOccurs="1" name="id" type="II" />
      <xs:element minOccurs="0" maxOccurs="1" name="related" nillable="true" type="COCT_MT080000UV.SourceOf" />
    </xs:sequence>
    <xs:attributeGroup ref="InfrastructureRootAttributes" />
    <xs:attribute name="nullFlavor" type="NullFlavor" use="optional" />
    <xs:attribute name="classCode" type="RoleClassSpecimen" use="required" />
  </xs:complexType>
  <xs:complexType name="COCT_MT080000UV.Subject1">
    <xs:sequence>
      <xs:group ref="InfrastructureRootElements" />
      <xs:element minOccurs="0" maxOccurs="1" name="sequenceNumber" type="INT" />
      <xs:element minOccurs="0" maxOccurs="1" name="time" type="IVL_TS" />
      <xs:choice>
        <xs:element minOccurs="1" maxOccurs="1" name="specimenInContainer" nillable="true" type="COCT_MT080000UV.SpecimenInContainer" />
        <xs:element minOccurs="1" maxOccurs="1" name="additive" nillable="true" type="COCT_MT080000UV.Additive" />
      </xs:choice>
    </xs:sequence>
    <xs:attributeGroup ref="InfrastructureRootAttributes" />
    <xs:attribute name="nullFlavor" type="NullFlavor" use="optional" />
    <xs:attribute name="typeCode" type="ParticipationTargetSubject" use="required" />
    <xs:attribute default="OP" name="contextControlCode" type="ContextControl" use="optional" />
  </xs:complexType>
  <xs:complexType name="COCT_MT080000UV.Subject2">
    <xs:sequence>
      <xs:group ref="InfrastructureRootElements" />
      <xs:element minOccurs="0" maxOccurs="1" name="sequenceNumber" type="INT" />
      <xs:choice>
        <xs:choice>
          <xs:element minOccurs="1" maxOccurs="1" name="specimenProcessStep" nillable="true" type="COCT_MT080000UV.SpecimenProcessStep" />
          <xs:element minOccurs="1" maxOccurs="1" name="specimenCollectionProcess" nillable="true" type="COCT_MT080000UV.SpecimenCollectionProcess" />
        </xs:choice>
        <xs:element minOccurs="1" maxOccurs="1" name="observationEvent" nillable="true" type="COCT_MT080000UV.ObservationEvent" />
      </xs:choice>
    </xs:sequence>
    <xs:attributeGroup ref="InfrastructureRootAttributes" />
    <xs:attribute name="nullFlavor" type="NullFlavor" use="optional" />
    <xs:attribute name="typeCode" type="ParticipationTargetSubject" use="required" />
    <xs:attribute default="OP" name="contextControlCode" type="ContextControl" use="optional" />
  </xs:complexType>
  <xs:complexType name="COCT_MT080000UV.Subject3">
    <xs:sequence>
      <xs:group ref="InfrastructureRootElements" />
      <xs:element minOccurs="0" maxOccurs="1" name="sequenceNumber" type="INT" />
      <xs:choice>
        <xs:element minOccurs="1" maxOccurs="1" name="actReference" nillable="true" type="COCT_MT080000UV.ActReference" />
        <xs:element minOccurs="1" maxOccurs="1" name="annotation" nillable="true" type="COCT_MT590000UV.Annotation" />
      </xs:choice>
    </xs:sequence>
    <xs:attributeGroup ref="InfrastructureRootAttributes" />
    <xs:attribute name="nullFlavor" type="NullFlavor" use="optional" />
    <xs:attribute name="typeCode" type="ParticipationTargetSubject" use="required" />
    <xs:attribute default="OP" name="contextControlCode" type="ContextControl" use="optional" />
  </xs:complexType>
  <xs:complexType name="COCT_MT080000UV.Subject4">
    <xs:sequence>
      <xs:group ref="InfrastructureRootElements" />
      <xs:element minOccurs="0" maxOccurs="1" name="sequenceNumber" type="INT" />
      <xs:element minOccurs="1" maxOccurs="1" name="seperatableInd" type="BL" />
      <xs:element minOccurs="1" maxOccurs="1" name="annotation" nillable="true" type="COCT_MT590000UV.Annotation" />
    </xs:sequence>
    <xs:attributeGroup ref="InfrastructureRootAttributes" />
    <xs:attribute name="nullFlavor" type="NullFlavor" use="optional" />
    <xs:attribute name="typeCode" type="ActRelationshipHasSubject" use="required" />
    <xs:attribute default="AN" name="contextControlCode" type="ContextControl" use="optional" />
    <xs:attribute name="contextConductionInd" type="bl" use="required" />
  </xs:complexType>
  <xs:complexType name="COCT_MT080000UV.Subject5">
    <xs:sequence>
      <xs:group ref="InfrastructureRootElements" />
      <xs:element minOccurs="1" maxOccurs="1" name="controlActEvent" nillable="true" type="COCT_MT080000UV.ControlActEvent" />
    </xs:sequence>
    <xs:attributeGroup ref="InfrastructureRootAttributes" />
    <xs:attribute name="nullFlavor" type="NullFlavor" use="optional" />
    <xs:attribute name="typeCode" type="ActRelationshipHasSubject" use="required" />
    <xs:attribute name="contextControlCode" type="ContextControl" use="required" />
    <xs:attribute default="false" name="contextConductionInd" type="bl" use="optional" />
  </xs:complexType>
  <xs:complexType name="COCT_MT080000UV.Transcriber">
    <xs:sequence>
      <xs:group ref="InfrastructureRootElements" />
      <xs:element minOccurs="0" maxOccurs="1" name="sequenceNumber" type="INT" />
      <xs:element minOccurs="0" maxOccurs="1" name="noteText" type="ST" />
      <xs:element minOccurs="0" maxOccurs="1" name="time" type="TS" />
      <xs:element minOccurs="1" maxOccurs="1" name="modeCode" type="CE" />
      <xs:element minOccurs="1" maxOccurs="1" name="assignedEntity" nillable="true" type="COCT_MT090000UV01.AssignedEntity" />
    </xs:sequence>
    <xs:attributeGroup ref="InfrastructureRootAttributes" />
    <xs:attribute name="nullFlavor" type="NullFlavor" use="optional" />
    <xs:attribute name="typeCode" type="ParticipationInformationTranscriber" use="required" />
    <xs:attribute default="OP" name="contextControlCode" type="ContextControl" use="optional" />
  </xs:complexType>
  <xs:complexType name="COCT_MT080000UV.Verifier">
    <xs:sequence>
      <xs:group ref="InfrastructureRootElements" />
      <xs:element minOccurs="0" maxOccurs="1" name="sequenceNumber" type="INT" />
      <xs:element minOccurs="0" maxOccurs="1" name="noteText" type="ST" />
      <xs:element minOccurs="0" maxOccurs="1" name="time" type="TS" />
      <xs:element minOccurs="0" maxOccurs="1" name="modeCode" type="CE" />
      <xs:element minOccurs="0" maxOccurs="1" name="signatureCode" type="CE" />
      <xs:element minOccurs="0" maxOccurs="1" name="signatureText" type="ED" />
      <xs:element minOccurs="1" maxOccurs="1" name="assignedEntity" nillable="true" type="COCT_MT090000UV01.AssignedEntity" />
    </xs:sequence>
    <xs:attributeGroup ref="InfrastructureRootAttributes" />
    <xs:attribute name="nullFlavor" type="NullFlavor" use="optional" />
    <xs:attribute name="typeCode" type="ParticipationVerifier" use="required" />
    <xs:attribute default="OP" name="contextControlCode" type="ContextControl" use="optional" />
  </xs:complexType>
</xs:schema>