docs/package dmp/DMP-LPS-Code-Exemple_C#dotNET-v2.06.01/TLSiKitEditeur/Service References/GDPService/infrastructureRoot.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:mif="urn:hl7-org:v3/mif" xmlns:v3="urn:hl7-org:v3" xmlns:ex="urn:hl7-org/v3-example" xmlns="urn:hl7-org:v3" elementFormDefault="qualified" targetNamespace="urn:hl7-org:v3" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:include schemaLocation="../coreschemas/voc.xsd" />
  <xs:include schemaLocation="../coreschemas/datatypes.xsd" />
  <xs:annotation>
    <xs:documentation>Source Information
     Rendered by: RoseTree 4.2.34
     Rendered on: 2009-09-02T23:22:01
This model was rendered into XML using software provided to HL7 by Beeler Consulting LLC.
 Transform: $RCSfile: infrastructureRoot.xsd,v $ $Revision: 1.1 $ $Date: 2015/03/24 12:45:40 $
 Generated using schema builder version: 3.2.5
 RIM MIF Infrastructure Root to Schema Transform: $Id: infrastructureRoot.xsd,v 1.1 2015/03/24 12:45:40 a137039 Exp $
  Static MIF to Schema Transform: $Id: infrastructureRoot.xsd,v 1.1 2015/03/24 12:45:40 a137039 Exp $
  Package Id Conversion: $Id: infrastructureRoot.xsd,v 1.1 2015/03/24 12:45:40 a137039 Exp $</xs:documentation>
  </xs:annotation>
  <xs:group name="InfrastructureRootElements">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="realmCode" type="v3:CS" />
      <xs:element minOccurs="0" maxOccurs="1" name="typeId" type="v3:II" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="templateId" type="v3:II" />
    </xs:sequence>
  </xs:group>
  <xs:attributeGroup name="InfrastructureRootAttributes" />
</xs:schema>