docs/package dmp/DMP-LPS-Code-Exemple_C#dotNET-v2.06.01/TLSiKitEditeur/Service References/GDPService/PRPA_MT201304UV02.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns="urn:hl7-org:v3" xmlns:ex="urn:hl7-org/v3-example" elementFormDefault="qualified" targetNamespace="urn:hl7-org:v3" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:include schemaLocation="../coreschemas/infrastructureRoot.xsd" />
  <xs:include schemaLocation="COCT_MT150007UV.xsd" />
  <xs:include schemaLocation="COCT_MT820000UV.xsd" />
  <xs:include schemaLocation="COCT_MT150002UV01.xsd" />
  <xs:include schemaLocation="COCT_MT150003UV03.xsd" />
  <xs:include schemaLocation="COCT_MT510000UV06.xsd" />
  <xs:annotation>
    <xs:documentation>Generated using schema builder version 3.2.5. Stylesheets:

StaticMifToXsd.xsl version 2.0</xs:documentation>
  </xs:annotation>
  <xs:complexType name="PRPA_MT201304UV02.Citizen">
    <xs:sequence>
      <xs:group ref="InfrastructureRootElements" />
      <xs:element minOccurs="1" maxOccurs="unbounded" name="id" type="II" />
      <xs:element minOccurs="0" maxOccurs="1" name="effectiveTime" type="IVL_TS" />
      <xs:element minOccurs="1" maxOccurs="1" name="politicalNation" type="PRPA_MT201304UV02.Nation" />
    </xs:sequence>
    <xs:attributeGroup ref="InfrastructureRootAttributes" />
    <xs:attribute name="nullFlavor" type="NullFlavor" use="optional" />
    <xs:attribute name="classCode" type="RoleClassCitizen" use="required" />
  </xs:complexType>
  <xs:complexType name="PRPA_MT201304UV02.CoveredParty">
    <xs:sequence>
      <xs:group ref="InfrastructureRootElements" />
      <xs:element minOccurs="0" maxOccurs="1" name="sequenceNumber" type="INT" />
      <xs:element minOccurs="0" maxOccurs="1" name="time" type="IVL_TS" />
      <xs:element minOccurs="1" maxOccurs="1" name="coverageRecord" nillable="true" type="COCT_MT510000UV06.CoverageRecord" />
    </xs:sequence>
    <xs:attributeGroup ref="InfrastructureRootAttributes" />
    <xs:attribute name="nullFlavor" type="NullFlavor" use="optional" />
    <xs:attribute name="typeCode" type="ParticipationCoverageTarget" use="required" />
  </xs:complexType>
  <xs:complexType name="PRPA_MT201304UV02.Employee">
    <xs:sequence>
      <xs:group ref="InfrastructureRootElements" />
      <xs:element minOccurs="1" maxOccurs="unbounded" name="id" type="II" />
      <xs:element minOccurs="0" maxOccurs="1" name="statusCode" type="CS" />
      <xs:element minOccurs="0" maxOccurs="1" name="effectiveTime" type="IVL_TS" />
      <xs:element minOccurs="1" maxOccurs="1" name="employerOrganization" nillable="true" type="COCT_MT150007UV.Organization" />
    </xs:sequence>
    <xs:attributeGroup ref="InfrastructureRootAttributes" />
    <xs:attribute name="nullFlavor" type="NullFlavor" use="optional" />
    <xs:attribute name="classCode" type="RoleClassEmployee" use="required" />
  </xs:complexType>
  <xs:complexType name="PRPA_MT201304UV02.Group">
    <xs:sequence>
      <xs:group ref="InfrastructureRootElements" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="id" type="II" />
      <xs:element minOccurs="0" maxOccurs="1" name="code" type="CE" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="name" type="EN" />
    </xs:sequence>
    <xs:attributeGroup ref="InfrastructureRootAttributes" />
    <xs:attribute name="nullFlavor" type="NullFlavor" use="optional" />
    <xs:attribute name="classCode" type="EntityClassOrganization" use="required" />
    <xs:attribute name="determinerCode" type="EntityDeterminerSpecific" use="required" />
  </xs:complexType>
  <xs:complexType name="PRPA_MT201304UV02.Member">
    <xs:sequence>
      <xs:group ref="InfrastructureRootElements" />
      <xs:element minOccurs="1" maxOccurs="unbounded" name="id" type="II" />
      <xs:element minOccurs="0" maxOccurs="1" name="code" type="CE" />
      <xs:element minOccurs="0" maxOccurs="1" name="statusCode" type="CS" />
      <xs:element minOccurs="0" maxOccurs="1" name="effectiveTime" type="IVL_TS" />
      <xs:element minOccurs="1" maxOccurs="1" name="group" nillable="true" type="PRPA_MT201304UV02.Group" />
    </xs:sequence>
    <xs:attributeGroup ref="InfrastructureRootAttributes" />
    <xs:attribute name="nullFlavor" type="NullFlavor" use="optional" />
    <xs:attribute name="classCode" type="RoleClassMember" use="required" />
  </xs:complexType>
  <xs:complexType name="PRPA_MT201304UV02.Nation">
    <xs:sequence>
      <xs:group ref="InfrastructureRootElements" />
      <xs:element minOccurs="1" maxOccurs="1" name="code" type="CE" />
      <xs:element minOccurs="0" maxOccurs="1" name="name" type="ON" />
    </xs:sequence>
    <xs:attributeGroup ref="InfrastructureRootAttributes" />
    <xs:attribute name="classCode" type="EntityClassNation" use="required" />
    <xs:attribute name="determinerCode" type="EntityDeterminerSpecific" use="required" />
  </xs:complexType>
  <xs:complexType name="PRPA_MT201304UV02.NonPersonLivingSubject">
    <xs:sequence>
      <xs:group ref="InfrastructureRootElements" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="id" type="II" />
      <xs:element minOccurs="0" maxOccurs="1" name="code" type="CE" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="name" type="EN" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="asPatientOfOtherProvider" nillable="true" type="PRPA_MT201304UV02.PatientOfOtherProvider" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="asMember" nillable="true" type="PRPA_MT201304UV02.Member" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="asOtherIDs" nillable="true" type="PRPA_MT201304UV02.OtherIDs" />
    </xs:sequence>
    <xs:attributeGroup ref="InfrastructureRootAttributes" />
    <xs:attribute name="nullFlavor" type="NullFlavor" use="optional" />
    <xs:attribute name="classCode" type="EntityClassNonPersonLivingSubject" use="required" />
    <xs:attribute name="determinerCode" type="EntityDeterminerSpecific" use="required" />
  </xs:complexType>
  <xs:complexType name="PRPA_MT201304UV02.OtherIDs">
    <xs:sequence>
      <xs:group ref="InfrastructureRootElements" />
      <xs:element minOccurs="1" maxOccurs="unbounded" name="id" type="II" />
      <xs:element minOccurs="0" maxOccurs="1" name="statusCode" type="CS" />
      <xs:element minOccurs="0" maxOccurs="1" name="effectiveTime" type="IVL_TS" />
      <xs:element minOccurs="1" maxOccurs="1" name="scopingOrganization" nillable="true" type="COCT_MT150002UV01.Organization" />
    </xs:sequence>
    <xs:attributeGroup ref="InfrastructureRootAttributes" />
    <xs:attribute name="nullFlavor" type="NullFlavor" use="optional" />
    <xs:attribute name="classCode" type="RoleClassRoot" use="required" />
  </xs:complexType>
  <xs:complexType name="PRPA_MT201304UV02.Patient">
    <xs:sequence>
      <xs:group ref="InfrastructureRootElements" />
      <xs:element minOccurs="1" maxOccurs="unbounded" name="id" type="II" />
      <xs:element minOccurs="1" maxOccurs="1" name="statusCode" type="CS" />
      <xs:element minOccurs="0" maxOccurs="1" name="effectiveTime" type="IVL_TS" />
      <xs:element minOccurs="0" maxOccurs="1" name="veryImportantPersonCode" type="CE" />
      <xs:choice>
        <xs:element minOccurs="1" maxOccurs="1" name="patientPerson" nillable="true" type="PRPA_MT201304UV02.Person" />
        <xs:element minOccurs="1" maxOccurs="1" name="patientNonPersonLivingSubject" nillable="true" type="PRPA_MT201304UV02.NonPersonLivingSubject" />
      </xs:choice>
      <xs:element minOccurs="0" maxOccurs="1" name="providerOrganization" nillable="true" type="COCT_MT150003UV03.Organization" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="coveredPartyOf" nillable="true" type="PRPA_MT201304UV02.CoveredParty" />
    </xs:sequence>
    <xs:attributeGroup ref="InfrastructureRootAttributes" />
    <xs:attribute name="classCode" type="RoleClassPatient" use="required" />
  </xs:complexType>
  <xs:complexType name="PRPA_MT201304UV02.PatientOfOtherProvider">
    <xs:sequence>
      <xs:group ref="InfrastructureRootElements" />
      <xs:element minOccurs="1" maxOccurs="1" name="subjectOf" type="PRPA_MT201304UV02.Subject" />
    </xs:sequence>
    <xs:attributeGroup ref="InfrastructureRootAttributes" />
    <xs:attribute name="nullFlavor" type="NullFlavor" use="optional" />
    <xs:attribute name="classCode" type="RoleClassPatient" use="required" />
  </xs:complexType>
  <xs:complexType name="PRPA_MT201304UV02.Person">
    <xs:sequence>
      <xs:group ref="InfrastructureRootElements" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="id" type="II" />
      <xs:element minOccurs="1" maxOccurs="unbounded" name="name" type="PN" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="asPatientOfOtherProvider" nillable="true" type="PRPA_MT201304UV02.PatientOfOtherProvider" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="asEmployee" nillable="true" type="PRPA_MT201304UV02.Employee" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="asCitizen" nillable="true" type="PRPA_MT201304UV02.Citizen" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="asStudent" nillable="true" type="PRPA_MT201304UV02.Student" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="asMember" nillable="true" type="PRPA_MT201304UV02.Member" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="asOtherIDs" nillable="true" type="PRPA_MT201304UV02.OtherIDs" />
    </xs:sequence>
    <xs:attributeGroup ref="InfrastructureRootAttributes" />
    <xs:attribute name="nullFlavor" type="NullFlavor" use="optional" />
    <xs:attribute name="classCode" type="EntityClassPerson" use="required" />
    <xs:attribute name="determinerCode" type="EntityDeterminerSpecific" use="required" />
  </xs:complexType>
  <xs:complexType name="PRPA_MT201304UV02.Student">
    <xs:sequence>
      <xs:group ref="InfrastructureRootElements" />
      <xs:element minOccurs="1" maxOccurs="unbounded" name="id" type="II" />
      <xs:element minOccurs="0" maxOccurs="1" name="statusCode" type="CS" />
      <xs:element minOccurs="0" maxOccurs="1" name="effectiveTime" type="IVL_TS" />
      <xs:element minOccurs="0" maxOccurs="1" name="schoolOrganization" nillable="true" type="COCT_MT150007UV.Organization" />
    </xs:sequence>
    <xs:attributeGroup ref="InfrastructureRootAttributes" />
    <xs:attribute name="nullFlavor" type="NullFlavor" use="optional" />
    <xs:attribute name="classCode" type="RoleClassStudent" use="required" />
  </xs:complexType>
  <xs:complexType name="PRPA_MT201304UV02.Subject">
    <xs:sequence>
      <xs:group ref="InfrastructureRootElements" />
      <xs:element minOccurs="1" maxOccurs="1" name="careProvision" type="COCT_MT820000UV.CareProvision" />
    </xs:sequence>
    <xs:attributeGroup ref="InfrastructureRootAttributes" />
    <xs:attribute name="typeCode" type="ParticipationTargetSubject" use="required" />
  </xs:complexType>
</xs:schema>