docs/package dmp/DMP-LPS-Code-Exemple_C#dotNET-v2.06.01/TLSiKitEditeur/Service References/GDPService/PRPA_MT201307UV02.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns="urn:hl7-org:v3" xmlns:ex="urn:hl7-org/v3-example" elementFormDefault="qualified" targetNamespace="urn:hl7-org:v3" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:include schemaLocation="../coreschemas/infrastructureRoot.xsd" />
  <xs:annotation>
    <xs:documentation>Generated using schema builder version 3.2.5. Stylesheets:

StaticMifToXsd.xsl version 2.0</xs:documentation>
  </xs:annotation>
  <xs:complexType name="PRPA_MT201307UV02.DataSource">
    <xs:sequence>
      <xs:group ref="InfrastructureRootElements" />
      <xs:element minOccurs="1" maxOccurs="unbounded" name="value" type="II" />
      <xs:element minOccurs="1" maxOccurs="1" name="semanticsText" type="ST" />
    </xs:sequence>
    <xs:attributeGroup ref="InfrastructureRootAttributes" />
    <xs:attribute name="nullFlavor" type="NullFlavor" use="optional" />
  </xs:complexType>
  <xs:complexType name="PRPA_MT201307UV02.ParameterList">
    <xs:sequence>
      <xs:group ref="InfrastructureRootElements" />
      <xs:element minOccurs="0" maxOccurs="1" name="id" type="II" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="dataSource" nillable="true" type="PRPA_MT201307UV02.DataSource" />
      <xs:element minOccurs="1" maxOccurs="unbounded" name="patientIdentifier" type="PRPA_MT201307UV02.PatientIdentifier" />
    </xs:sequence>
    <xs:attributeGroup ref="InfrastructureRootAttributes" />
  </xs:complexType>
  <xs:complexType name="PRPA_MT201307UV02.PatientIdentifier">
    <xs:sequence>
      <xs:group ref="InfrastructureRootElements" />
      <xs:element minOccurs="1" maxOccurs="unbounded" name="value" type="II" />
      <xs:element minOccurs="1" maxOccurs="1" name="semanticsText" type="ST" />
    </xs:sequence>
    <xs:attributeGroup ref="InfrastructureRootAttributes" />
  </xs:complexType>
  <xs:complexType name="PRPA_MT201307UV02.QueryByParameter">
    <xs:sequence>
      <xs:group ref="InfrastructureRootElements" />
      <xs:element minOccurs="1" maxOccurs="1" name="queryId" type="II" />
      <xs:element minOccurs="1" maxOccurs="1" name="statusCode" type="CS" />
      <xs:element minOccurs="0" maxOccurs="1" name="modifyCode" type="CS" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="responseElementGroupId" type="II" />
      <xs:element minOccurs="0" maxOccurs="1" name="responsePriorityCode" type="CS" />
      <xs:element minOccurs="0" maxOccurs="1" name="executionAndDeliveryTime" type="TS" />
      <xs:element minOccurs="1" maxOccurs="1" name="parameterList" type="PRPA_MT201307UV02.ParameterList" />
    </xs:sequence>
    <xs:attributeGroup ref="InfrastructureRootAttributes" />
  </xs:complexType>
</xs:schema>