docs/package dmp/DMP-LPS-Code-Exemple_C#dotNET-v2.06.01/TLSiKitEditeur/Service References/GDPService/QUQI_MT021001UV01.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns="urn:hl7-org:v3" xmlns:ex="urn:hl7-org/v3-example" elementFormDefault="qualified" targetNamespace="urn:hl7-org:v3" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:include schemaLocation="../coreschemas/infrastructureRoot.xsd" />
  <xs:include schemaLocation="COCT_MT090300UV01.xsd" />
  <xs:include schemaLocation="COCT_MT090100UV01.xsd" />
  <xs:include schemaLocation="MCAI_MT900001UV01.xsd" />
  <xs:annotation>
    <xs:documentation>Generated using schema builder version 3.2.5. Stylesheets:
HMD was rendered into XML using software provided to HL7 by Beeler Consulting LLC.
 HMD to MIF Transform: $Id: QUQI_MT021001UV01.xsd,v 1.1 2015/03/24 12:45:28 a137039 Exp $
  Base transform: $Id: QUQI_MT021001UV01.xsd,v 1.1 2015/03/24 12:45:28 a137039 Exp $
  Package Id Conversion: $Id: QUQI_MT021001UV01.xsd,v 1.1 2015/03/24 12:45:28 a137039 Exp $
  HTML To MIF markup: $Id: QUQI_MT021001UV01.xsd,v 1.1 2015/03/24 12:45:28 a137039 Exp $
 Flat to Serialization Transform: $Id: QUQI_MT021001UV01.xsd,v 1.1 2015/03/24 12:45:28 a137039 Exp $
 Fix Names Transform: $Id: QUQI_MT021001UV01.xsd,v 1.1 2015/03/24 12:45:28 a137039 Exp $
  Base transform: $Id: QUQI_MT021001UV01.xsd,v 1.1 2015/03/24 12:45:28 a137039 Exp $
  Package Id Conversion: $Id: QUQI_MT021001UV01.xsd,v 1.1 2015/03/24 12:45:28 a137039 Exp $
StaticMifToXsd.xsl version 2.0</xs:documentation>
  </xs:annotation>
  <xs:complexType name="QUQI_MT021001UV01.AuthorOrPerformer">
    <xs:sequence>
      <xs:group ref="InfrastructureRootElements" />
      <xs:element minOccurs="0" maxOccurs="1" name="noteText" type="ED" />
      <xs:element minOccurs="0" maxOccurs="1" name="time" type="IVL_TS" />
      <xs:element minOccurs="0" maxOccurs="1" name="modeCode" type="CE" />
      <xs:element minOccurs="0" maxOccurs="1" name="signatureCode" type="CE" />
      <xs:element minOccurs="0" maxOccurs="1" name="signatureText" type="ED" />
      <xs:choice>
        <xs:element minOccurs="1" maxOccurs="1" name="assignedDevice" nillable="true" type="COCT_MT090300UV01.AssignedDevice" />
        <xs:element minOccurs="1" maxOccurs="1" name="assignedPerson" nillable="true" type="COCT_MT090100UV01.AssignedPerson" />
      </xs:choice>
    </xs:sequence>
    <xs:attributeGroup ref="InfrastructureRootAttributes" />
    <xs:attribute name="nullFlavor" type="NullFlavor" use="optional" />
    <xs:attribute name="typeCode" type="x_ParticipationAuthorPerformer" use="required" />
    <xs:attribute default="AP" name="contextControlCode" type="ContextControl" use="optional" />
  </xs:complexType>
  <xs:complexType name="QUQI_MT021001UV01.DataEnterer">
    <xs:sequence>
      <xs:group ref="InfrastructureRootElements" />
      <xs:element minOccurs="0" maxOccurs="1" name="time" type="IVL_TS" />
      <xs:element minOccurs="1" maxOccurs="1" name="assignedPerson" nillable="true" type="COCT_MT090100UV01.AssignedPerson" />
    </xs:sequence>
    <xs:attributeGroup ref="InfrastructureRootAttributes" />
    <xs:attribute name="nullFlavor" type="NullFlavor" use="optional" />
    <xs:attribute name="typeCode" type="ParticipationDataEntryPerson" use="required" />
    <xs:attribute default="AP" name="contextControlCode" type="ContextControl" use="optional" />
  </xs:complexType>
  <xs:complexType name="QUQI_MT021001UV01.InformationRecipient">
    <xs:sequence>
      <xs:group ref="InfrastructureRootElements" />
      <xs:element minOccurs="0" maxOccurs="1" name="time" type="IVL_TS" />
      <xs:element minOccurs="1" maxOccurs="1" name="assignedPerson" nillable="true" type="COCT_MT090100UV01.AssignedPerson" />
    </xs:sequence>
    <xs:attributeGroup ref="InfrastructureRootAttributes" />
    <xs:attribute name="nullFlavor" type="NullFlavor" use="optional" />
    <xs:attribute name="typeCode" type="ParticipationInformationRecipient" use="required" />
    <xs:attribute default="AP" name="contextControlCode" type="ContextControl" use="optional" />
  </xs:complexType>
  <xs:complexType name="QUQI_MT021001UV01.Overseer">
    <xs:sequence>
      <xs:group ref="InfrastructureRootElements" />
      <xs:element minOccurs="0" maxOccurs="1" name="noteText" type="ED" />
      <xs:element minOccurs="0" maxOccurs="1" name="time" type="IVL_TS" />
      <xs:element minOccurs="0" maxOccurs="1" name="modeCode" type="CE" />
      <xs:element minOccurs="0" maxOccurs="1" name="signatureCode" type="CE" />
      <xs:element minOccurs="0" maxOccurs="1" name="signatureText" type="ED" />
      <xs:element minOccurs="1" maxOccurs="1" name="assignedPerson" nillable="true" type="COCT_MT090100UV01.AssignedPerson" />
    </xs:sequence>
    <xs:attributeGroup ref="InfrastructureRootAttributes" />
    <xs:attribute name="nullFlavor" type="NullFlavor" use="optional" />
    <xs:attribute name="typeCode" type="x_ParticipationVrfRespSprfWit" use="required" />
    <xs:attribute default="AP" name="contextControlCode" type="ContextControl" use="optional" />
  </xs:complexType>
  <xs:complexType name="QUQI_MT021001UV01.Reason">
    <xs:sequence>
      <xs:group ref="InfrastructureRootElements" />
      <xs:element minOccurs="1" maxOccurs="1" name="detectedIssueEvent" nillable="true" type="MCAI_MT900001UV01.DetectedIssueEvent" />
    </xs:sequence>
    <xs:attributeGroup ref="InfrastructureRootAttributes" />
    <xs:attribute name="nullFlavor" type="NullFlavor" use="optional" />
    <xs:attribute name="typeCode" type="ActRelationshipReason" use="required" />
    <xs:attribute name="contextConductionInd" type="bl" use="optional" />
  </xs:complexType>
</xs:schema>