docs/package dmp/DMP-LPS-Code-Exemple_C#dotNET-v2.06.01/TLSiKitEditeur/Service References/PDQSupplierService/PRPA_MT201306UV02.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns="urn:hl7-org:v3" xmlns:ex="urn:hl7-org/v3-example" elementFormDefault="qualified" targetNamespace="urn:hl7-org:v3" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:include schemaLocation="../coreschemas/infrastructureRoot.xsd" />
  <xs:annotation>
    <xs:documentation>Generated using schema builder version 3.1.6. Stylesheets:

StaticMifToXsd.xsl version 2.0</xs:documentation>
  </xs:annotation>
  <xs:complexType name="PRPA_MT201306UV02.LivingSubjectAdministrativeGender">
    <xs:sequence>
      <xs:group ref="InfrastructureRootElements" />
      <xs:element minOccurs="1" maxOccurs="unbounded" name="value" type="CE" />
      <xs:element minOccurs="1" maxOccurs="1" name="semanticsText" type="ST" />
    </xs:sequence>
    <xs:attributeGroup ref="InfrastructureRootAttributes" />
    <xs:attribute name="nullFlavor" type="NullFlavor" use="optional" />
  </xs:complexType>
  <xs:complexType name="PRPA_MT201306UV02.LivingSubjectBirthPlaceAddress">
    <xs:sequence>
      <xs:group ref="InfrastructureRootElements" />
      <xs:element minOccurs="1" maxOccurs="unbounded" name="value" type="AD" />
      <xs:element minOccurs="1" maxOccurs="1" name="semanticsText" type="ST" />
    </xs:sequence>
    <xs:attributeGroup ref="InfrastructureRootAttributes" />
    <xs:attribute name="nullFlavor" type="NullFlavor" use="optional" />
  </xs:complexType>
  <xs:complexType name="PRPA_MT201306UV02.LivingSubjectBirthPlaceName">
    <xs:sequence>
      <xs:group ref="InfrastructureRootElements" />
      <xs:element minOccurs="1" maxOccurs="unbounded" name="value" type="EN" />
      <xs:element minOccurs="1" maxOccurs="1" name="semanticsText" type="ST" />
    </xs:sequence>
    <xs:attributeGroup ref="InfrastructureRootAttributes" />
    <xs:attribute name="nullFlavor" type="NullFlavor" use="optional" />
  </xs:complexType>
  <xs:complexType name="PRPA_MT201306UV02.LivingSubjectBirthTime">
    <xs:sequence>
      <xs:group ref="InfrastructureRootElements" />
      <xs:element minOccurs="1" maxOccurs="unbounded" name="value" type="IVL_TS" />
      <xs:element minOccurs="1" maxOccurs="1" name="semanticsText" type="ST" />
    </xs:sequence>
    <xs:attributeGroup ref="InfrastructureRootAttributes" />
    <xs:attribute name="nullFlavor" type="NullFlavor" use="optional" />
  </xs:complexType>
  <xs:complexType name="PRPA_MT201306UV02.LivingSubjectDeceasedTime">
    <xs:sequence>
      <xs:group ref="InfrastructureRootElements" />
      <xs:element minOccurs="1" maxOccurs="unbounded" name="value" type="IVL_TS" />
      <xs:element minOccurs="1" maxOccurs="1" name="semanticsText" type="ST" />
    </xs:sequence>
    <xs:attributeGroup ref="InfrastructureRootAttributes" />
    <xs:attribute name="nullFlavor" type="NullFlavor" use="optional" />
  </xs:complexType>
  <xs:complexType name="PRPA_MT201306UV02.LivingSubjectId">
    <xs:sequence>
      <xs:group ref="InfrastructureRootElements" />
      <xs:element minOccurs="1" maxOccurs="unbounded" name="value" type="II" />
      <xs:element minOccurs="1" maxOccurs="1" name="semanticsText" type="ST" />
    </xs:sequence>
    <xs:attributeGroup ref="InfrastructureRootAttributes" />
    <xs:attribute name="nullFlavor" type="NullFlavor" use="optional" />
  </xs:complexType>
  <xs:complexType name="PRPA_MT201306UV02.LivingSubjectName">
    <xs:sequence>
      <xs:group ref="InfrastructureRootElements" />
      <xs:element minOccurs="1" maxOccurs="unbounded" name="value" type="EN" />
      <xs:element minOccurs="1" maxOccurs="1" name="semanticsText" type="ST" />
    </xs:sequence>
    <xs:attributeGroup ref="InfrastructureRootAttributes" />
    <xs:attribute name="nullFlavor" type="NullFlavor" use="optional" />
  </xs:complexType>
  <xs:complexType name="PRPA_MT201306UV02.MatchAlgorithm">
    <xs:sequence>
      <xs:group ref="InfrastructureRootElements" />
      <xs:element minOccurs="1" maxOccurs="1" name="value" type="ANY" />
      <xs:element minOccurs="1" maxOccurs="1" name="semanticsText" type="ST" />
    </xs:sequence>
    <xs:attributeGroup ref="InfrastructureRootAttributes" />
    <xs:attribute name="nullFlavor" type="NullFlavor" use="optional" />
  </xs:complexType>
  <xs:complexType name="PRPA_MT201306UV02.MatchCriterionList">
    <xs:sequence>
      <xs:group ref="InfrastructureRootElements" />
      <xs:element minOccurs="0" maxOccurs="1" name="id" type="II" />
      <xs:element minOccurs="0" maxOccurs="1" name="matchAlgorithm" nillable="true" type="PRPA_MT201306UV02.MatchAlgorithm" />
      <xs:element minOccurs="0" maxOccurs="1" name="matchWeight" nillable="true" type="PRPA_MT201306UV02.MatchWeight" />
      <xs:element minOccurs="0" maxOccurs="1" name="minimumDegreeMatch" nillable="true" type="PRPA_MT201306UV02.MinimumDegreeMatch" />
    </xs:sequence>
    <xs:attributeGroup ref="InfrastructureRootAttributes" />
    <xs:attribute name="nullFlavor" type="NullFlavor" use="optional" />
  </xs:complexType>
  <xs:complexType name="PRPA_MT201306UV02.MatchWeight">
    <xs:sequence>
      <xs:group ref="InfrastructureRootElements" />
      <xs:element minOccurs="1" maxOccurs="1" name="value" type="ANY" />
      <xs:element minOccurs="1" maxOccurs="1" name="semanticsText" type="ST" />
    </xs:sequence>
    <xs:attributeGroup ref="InfrastructureRootAttributes" />
    <xs:attribute name="nullFlavor" type="NullFlavor" use="optional" />
  </xs:complexType>
  <xs:complexType name="PRPA_MT201306UV02.MinimumDegreeMatch">
    <xs:sequence>
      <xs:group ref="InfrastructureRootElements" />
      <xs:element minOccurs="1" maxOccurs="1" name="value" type="ANY" />
      <xs:element minOccurs="1" maxOccurs="1" name="semanticsText" type="ST" />
    </xs:sequence>
    <xs:attributeGroup ref="InfrastructureRootAttributes" />
    <xs:attribute name="nullFlavor" type="NullFlavor" use="optional" />
  </xs:complexType>
  <xs:complexType name="PRPA_MT201306UV02.MothersMaidenName">
    <xs:sequence>
      <xs:group ref="InfrastructureRootElements" />
      <xs:element minOccurs="1" maxOccurs="unbounded" name="value" type="PN" />
      <xs:element minOccurs="1" maxOccurs="1" name="semanticsText" type="ST" />
    </xs:sequence>
    <xs:attributeGroup ref="InfrastructureRootAttributes" />
    <xs:attribute name="nullFlavor" type="NullFlavor" use="optional" />
  </xs:complexType>
  <xs:complexType name="PRPA_MT201306UV02.OtherIDsScopingOrganization">
    <xs:sequence>
      <xs:group ref="InfrastructureRootElements" />
      <xs:element minOccurs="1" maxOccurs="unbounded" name="value" type="II" />
      <xs:element minOccurs="1" maxOccurs="1" name="semanticsText" type="ST" />
    </xs:sequence>
    <xs:attributeGroup ref="InfrastructureRootAttributes" />
    <xs:attribute name="nullFlavor" type="NullFlavor" use="optional" />
  </xs:complexType>
  <xs:complexType name="PRPA_MT201306UV02.ParameterList">
    <xs:sequence>
      <xs:group ref="InfrastructureRootElements" />
      <xs:element minOccurs="0" maxOccurs="1" name="id" type="II" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="livingSubjectAdministrativeGender" nillable="true" type="PRPA_MT201306UV02.LivingSubjectAdministrativeGender" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="livingSubjectBirthPlaceAddress" nillable="true" type="PRPA_MT201306UV02.LivingSubjectBirthPlaceAddress" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="livingSubjectBirthPlaceName" nillable="true" type="PRPA_MT201306UV02.LivingSubjectBirthPlaceName" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="livingSubjectBirthTime" nillable="true" type="PRPA_MT201306UV02.LivingSubjectBirthTime" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="livingSubjectDeceasedTime" nillable="true" type="PRPA_MT201306UV02.LivingSubjectDeceasedTime" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="livingSubjectId" nillable="true" type="PRPA_MT201306UV02.LivingSubjectId" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="livingSubjectName" nillable="true" type="PRPA_MT201306UV02.LivingSubjectName" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="mothersMaidenName" nillable="true" type="PRPA_MT201306UV02.MothersMaidenName" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="otherIDsScopingOrganization" nillable="true" type="PRPA_MT201306UV02.OtherIDsScopingOrganization" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="patientAddress" nillable="true" type="PRPA_MT201306UV02.PatientAddress" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="patientStatusCode" nillable="true" type="PRPA_MT201306UV02.PatientStatusCode" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="patientTelecom" nillable="true" type="PRPA_MT201306UV02.PatientTelecom" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="principalCareProviderId" nillable="true" type="PRPA_MT201306UV02.PrincipalCareProviderId" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="principalCareProvisionId" nillable="true" type="PRPA_MT201306UV02.PrincipalCareProvisionId" />
    </xs:sequence>
    <xs:attributeGroup ref="InfrastructureRootAttributes" />
    <xs:attribute name="nullFlavor" type="NullFlavor" use="optional" />
  </xs:complexType>
  <xs:complexType name="PRPA_MT201306UV02.PatientAddress">
    <xs:sequence>
      <xs:group ref="InfrastructureRootElements" />
      <xs:element minOccurs="1" maxOccurs="unbounded" name="value" type="AD" />
      <xs:element minOccurs="1" maxOccurs="1" name="semanticsText" type="ST" />
    </xs:sequence>
    <xs:attributeGroup ref="InfrastructureRootAttributes" />
    <xs:attribute name="nullFlavor" type="NullFlavor" use="optional" />
  </xs:complexType>
  <xs:complexType name="PRPA_MT201306UV02.PatientStatusCode">
    <xs:sequence>
      <xs:group ref="InfrastructureRootElements" />
      <xs:element minOccurs="1" maxOccurs="1" name="value" type="CV" />
      <xs:element minOccurs="1" maxOccurs="1" name="semanticsText" type="ST" />
    </xs:sequence>
    <xs:attributeGroup ref="InfrastructureRootAttributes" />
    <xs:attribute name="nullFlavor" type="NullFlavor" use="optional" />
  </xs:complexType>
  <xs:complexType name="PRPA_MT201306UV02.PatientTelecom">
    <xs:sequence>
      <xs:group ref="InfrastructureRootElements" />
      <xs:element minOccurs="1" maxOccurs="unbounded" name="value" type="TEL" />
      <xs:element minOccurs="1" maxOccurs="1" name="semanticsText" type="ST" />
    </xs:sequence>
    <xs:attributeGroup ref="InfrastructureRootAttributes" />
    <xs:attribute name="nullFlavor" type="NullFlavor" use="optional" />
  </xs:complexType>
  <xs:complexType name="PRPA_MT201306UV02.PrincipalCareProviderId">
    <xs:sequence>
      <xs:group ref="InfrastructureRootElements" />
      <xs:element minOccurs="1" maxOccurs="unbounded" name="value" type="II" />
      <xs:element minOccurs="0" maxOccurs="1" name="semanticsText" type="ST" />
    </xs:sequence>
    <xs:attributeGroup ref="InfrastructureRootAttributes" />
    <xs:attribute name="nullFlavor" type="NullFlavor" use="optional" />
  </xs:complexType>
  <xs:complexType name="PRPA_MT201306UV02.PrincipalCareProvisionId">
    <xs:sequence>
      <xs:group ref="InfrastructureRootElements" />
      <xs:element minOccurs="1" maxOccurs="unbounded" name="value" type="II" />
      <xs:element minOccurs="1" maxOccurs="1" name="semanticsText" type="ST" />
    </xs:sequence>
    <xs:attributeGroup ref="InfrastructureRootAttributes" />
    <xs:attribute name="nullFlavor" type="NullFlavor" use="optional" />
  </xs:complexType>
  <xs:complexType name="PRPA_MT201306UV02.QueryByParameter">
    <xs:sequence>
      <xs:group ref="InfrastructureRootElements" />
      <xs:element minOccurs="1" maxOccurs="1" name="queryId" type="II" />
      <xs:element minOccurs="1" maxOccurs="1" name="statusCode" type="CS" />
      <xs:element minOccurs="0" maxOccurs="1" name="modifyCode" type="CS" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="responseElementGroupId" type="II" />
      <xs:element minOccurs="0" maxOccurs="1" name="responseModalityCode" type="CS" />
      <xs:element minOccurs="0" maxOccurs="1" name="responsePriorityCode" type="CS" />
      <xs:element minOccurs="0" maxOccurs="1" name="initialQuantity" type="INT" />
      <xs:element minOccurs="0" maxOccurs="1" name="initialQuantityCode" type="CE" />
      <xs:element minOccurs="0" maxOccurs="1" name="executionAndDeliveryTime" type="TS" />
      <xs:element minOccurs="0" maxOccurs="1" name="matchCriterionList" nillable="true" type="PRPA_MT201306UV02.MatchCriterionList" />
      <xs:element minOccurs="1" maxOccurs="1" name="parameterList" type="PRPA_MT201306UV02.ParameterList" />
      <xs:element minOccurs="0" maxOccurs="unbounded" name="sortControl" nillable="true" type="PRPA_MT201306UV02.SortControl" />
    </xs:sequence>
    <xs:attributeGroup ref="InfrastructureRootAttributes" />
    <xs:attribute name="nullFlavor" type="NullFlavor" use="optional" />
  </xs:complexType>
  <xs:complexType name="PRPA_MT201306UV02.SortControl">
    <xs:sequence>
      <xs:group ref="InfrastructureRootElements" />
      <xs:element minOccurs="0" maxOccurs="1" name="sequenceNumber" type="INT" />
      <xs:element minOccurs="0" maxOccurs="1" name="elementName" type="SC" />
      <xs:element minOccurs="0" maxOccurs="1" name="directionCode" type="CS" />
    </xs:sequence>
    <xs:attributeGroup ref="InfrastructureRootAttributes" />
    <xs:attribute name="nullFlavor" type="NullFlavor" use="optional" />
  </xs:complexType>
</xs:schema>