docs/package dmp/DMP-LPS-Code-Exemple_C#dotNET-v2.06.01/TLSiKitEditeur/Resources/wsdl/wsdl/XDS.b_DocumentRegistry.wsdl

<?xml version="1.0" encoding="utf-8"?>
<!--
    DMP1 - Interfaces LPS
    WSDL de definition du service : Registry XDS.b
    VERSION : 1.0.0
    DATE    : 03/11/2010
-->
<!-- This wsdl file is for an XDS.b Document Registry Actor 
     It can be used 'as is' to support Document Registry Transactions
     using Synchronous Web Services.  
     The wsdl file can also be used to support the Asynchronous 
     Web Services Exchange option.  To do this, you will need to 
     'uncomment' all the comment sections below that are labeled 
     'SECTION FOR WEB SERVICES EXCHANGE OPTION'                  -->
<definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
	xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	xmlns:ihe="urn:ihe:iti:xds-b:2007" xmlns:query="urn:oasis:names:tc:ebxml-regrep:xsd:query:3.0"
	xmlns:lcm="urn:oasis:names:tc:ebxml-regrep:xsd:lcm:3.0" xmlns:hl7="urn:hl7-org:v3"
	xmlns:rs="urn:oasis:names:tc:ebxml-regrep:xsd:rs:3.0" targetNamespace="urn:ihe:iti:xds-b:2007"
	xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/"
	xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" name="DocumentRegistry">
	<documentation>IHE XDS.b Document Registry</documentation>
	<types>

		<!--	Importing all schemas within one seems to confuse some parsers (and may be invalid)	-->
		<xsd:schema elementFormDefault="qualified" targetNamespace="urn:ihe:iti:xds-b:2007">
			<xsd:import namespace="urn:oasis:names:tc:ebxml-regrep:xsd:query:3.0" schemaLocation="../schema/ebRS/query.xsd"/>
			<xsd:import namespace="urn:oasis:names:tc:ebxml-regrep:xsd:rs:3.0" schemaLocation="../schema/ebRS/rs.xsd"/>
			<xsd:import namespace="urn:oasis:names:tc:ebxml-regrep:xsd:lcm:3.0" schemaLocation="../schema/ebRS/lcm.xsd"/>
		</xsd:schema>

	</types>
	<message name="RegistryStoredQuery_Message">
		<documentation>Registry Stored Query</documentation>
		<part name="body" element="query:AdhocQueryRequest"/>
	</message>
	<message name="RegistryStoredQueryResponse_Message">
		<documentation>Registry Stored Query Response</documentation>
		<part name="body" element="query:AdhocQueryResponse"/>
	</message>
	
	<!-- 
		Added to support Metadata update 
	-->
	
	<message name="UpdateDocumentSet_Message">
		<documentation>Update Document Set </documentation>
		<part name="body" element="lcm:SubmitObjectsRequest"/>
	</message>
	<message name="UpdateDocumentSet-Response_Message">
		<documentation>Update Document Set - Response</documentation>
		<part name="body" element="rs:RegistryResponse"/>
	</message>

	<portType name="DocumentRegistry_PortType">
		<!-- 
			Added to support Metadata update 
		-->
	
		<operation name="DocumentRegistry_UpdateDocumentSet">
			<input message="ihe:UpdateDocumentSet_Message"
				wsaw:Action="urn:ihe:iti:2010:UpdateDocumentSet"/>
			<output message="ihe:UpdateDocumentSet-Response_Message"
				wsaw:Action="urn:ihe:iti:2010:UpdateDocumentSet-Response"/>
		</operation>
		
		<operation name="DocumentRegistry_RegistryStoredQuery">
			<input message="ihe:RegistryStoredQuery_Message"
				wsaw:Action="urn:ihe:iti:2007:RegistryStoredQuery"/>
			<output message="ihe:RegistryStoredQueryResponse_Message"
				wsaw:Action="urn:ihe:iti:2007:RegistryStoredQueryResponse"/>
		</operation>
	</portType>
	<binding name="DocumentRegistry_Binding_Soap12" type="ihe:DocumentRegistry_PortType">
		<soap12:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
	<!-- 
		Added to support Metadata update 
	-->
		<operation name="DocumentRegistry_UpdateDocumentSet">
			<soap12:operation soapAction="urn:ihe:iti:2010:UpdateDocumentSet"/>
			<input>
				<soap12:body use="literal"/>
			</input>
			<output>
				<soap12:body use="literal"/>
			</output>
		</operation>
	
		<operation name="DocumentRegistry_RegistryStoredQuery">
			<soap12:operation soapAction="urn:ihe:iti:2007:RegistryStoredQuery"/>
			<input>
				<soap12:body use="literal"/>
			</input>
			<output>
				<soap12:body use="literal"/>
			</output>
		</operation>
	</binding>
	<service name="DocumentRegistry_Service">
		<port name="DocumentRegistry_Port_Soap12" binding="ihe:DocumentRegistry_Binding_Soap12">
			<soap12:address location="https://servicelocation/DocumentRegistry_Service"/>
		</port>
	</service>
</definitions>
