docs/package dmp/DMP-LPS-Code-Exemple_C#dotNET-v2.06.01/TLSiKitEditeur/Service References/DocumentRegistryService/DocumentRegistry.wsdl

<?xml version="1.0" encoding="utf-8"?>
<definitions xmlns:rs="urn:oasis:names:tc:ebxml-regrep:xsd:rs:3.0" xmlns:lcm="urn:oasis:names:tc:ebxml-regrep:xsd:lcm:3.0" xmlns:ihe="urn:ihe:iti:xds-b:2007" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:hl7="urn:hl7-org:v3" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:query="urn:oasis:names:tc:ebxml-regrep:xsd:query:3.0" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" name="DocumentRegistry" targetNamespace="urn:ihe:iti:xds-b:2007" xmlns="http://schemas.xmlsoap.org/wsdl/">
  <documentation>IHE XDS.b Document Registry</documentation>
  <types>
    <xsd:schema elementFormDefault="qualified" targetNamespace="urn:ihe:iti:xds-b:2007">
      <xsd:import schemaLocation="../schema/ebRS/query.xsd" namespace="urn:oasis:names:tc:ebxml-regrep:xsd:query:3.0" />
      <xsd:import schemaLocation="../schema/ebRS/rs.xsd" namespace="urn:oasis:names:tc:ebxml-regrep:xsd:rs:3.0" />
      <xsd:import schemaLocation="../schema/ebRS/lcm.xsd" namespace="urn:oasis:names:tc:ebxml-regrep:xsd:lcm:3.0" />
    </xsd:schema>
  </types>
  <message name="RegistryStoredQuery_Message">
    <documentation>Registry Stored Query</documentation>
    <part name="body" element="query:AdhocQueryRequest" />
  </message>
  <message name="RegistryStoredQueryResponse_Message">
    <documentation>Registry Stored Query Response</documentation>
    <part name="body" element="query:AdhocQueryResponse" />
  </message>
  <message name="UpdateDocumentSet_Message">
    <documentation>Update Document Set </documentation>
    <part name="body" element="lcm:SubmitObjectsRequest" />
  </message>
  <message name="UpdateDocumentSet-Response_Message">
    <documentation>Update Document Set - Response</documentation>
    <part name="body" element="rs:RegistryResponse" />
  </message>
  <portType name="DocumentRegistry_PortType">
    <operation name="DocumentRegistry_UpdateDocumentSet">
      <input wsaw:Action="urn:ihe:iti:2010:UpdateDocumentSet" message="ihe:UpdateDocumentSet_Message" />
      <output wsaw:Action="urn:ihe:iti:2010:UpdateDocumentSet-Response" message="ihe:UpdateDocumentSet-Response_Message" />
    </operation>
    <operation name="DocumentRegistry_RegistryStoredQuery">
      <input wsaw:Action="urn:ihe:iti:2007:RegistryStoredQuery" message="ihe:RegistryStoredQuery_Message" />
      <output wsaw:Action="urn:ihe:iti:2007:RegistryStoredQueryResponse" message="ihe:RegistryStoredQueryResponse_Message" />
    </operation>
  </portType>
  <binding name="DocumentRegistry_Binding_Soap12" type="ihe:DocumentRegistry_PortType">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <operation name="DocumentRegistry_UpdateDocumentSet">
      <soap12:operation soapAction="urn:ihe:iti:2010:UpdateDocumentSet" />
      <input>
        <soap12:body use="literal" />
      </input>
      <output>
        <soap12:body use="literal" />
      </output>
    </operation>
    <operation name="DocumentRegistry_RegistryStoredQuery">
      <soap12:operation soapAction="urn:ihe:iti:2007:RegistryStoredQuery" />
      <input>
        <soap12:body use="literal" />
      </input>
      <output>
        <soap12:body use="literal" />
      </output>
    </operation>
  </binding>
  <service name="DocumentRegistry_Service">
    <port name="DocumentRegistry_Port_Soap12" binding="ihe:DocumentRegistry_Binding_Soap12">
      <soap12:address location="https://servicelocation/DocumentRegistry_Service" />
    </port>
  </service>
</definitions>